@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --sidebarWidth: 5cm;
}

body {
  height: 100vh;
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.content{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 769px) {
  .side-nav {
    height: 1.7cm;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0 5px;
  }

  .nav-items {
    height: 1.5cm;
    width: 100%;
    border-radius: 13px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 10px;
    padding: 5px 10px 5px 10px;
  }
}

@media screen and (min-width: 769px) {
  .side-nav {
    height: 100%;
    width: var(--sidebarWidth);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
  }

  .main {
    padding-left: var(--sidebarWidth);
  }

  .nav-items {
    height: 100%;
    width: 4cm;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
